.nav-list {
  display: flex;
  justify-content: flex-end;
  padding: 25px;
}

.nav-list li {
  list-style-type: none;
  font-size: 20px;
  font-weight: 520;
  margin: 12px;
}

.nav-list a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.nav-list a:hover {
  cursor: pointer;
  color: #3b9998;
}

.nav-list li img {
  margin-top: -5px;
  border-radius: 5px;
  transition: 0.3s;
}

.nav-list li:hover img {
  opacity: 0.5;
}
